.env
.tox/**
.coverage*
.venv/**
**/sciscraper.egg-info/**
**/bin/**
**/__pycache__/**
exports/**
.vscode/**
**/lib/**
.DS_Store
Pipfile
**/_zeroshotscraper.py
**/sciscrape/local_bibtexparser.py
**src/config_setup.json
dist/**
sciscrape/sciscraper.code-workspace
